*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    
}

.Header1{
    Background-color: #1f2532;
    padding: 30px 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.Text1 a{
    Color: White;
    text-align: center;
    justify-content: space-between;
    width: 50%;
}

.Project_Content{
    Background-color: #1f2532;
    padding: 120px 190px;
    display: flex;
    
}

.Project_Image img{
    width: 95%
}

.Project_Des{
    color: white;
    width: 95%;
    margin-top: 50px;
}

.Title{
    font-family: 'Titillium Web', sans-serif;
    font-size: 48px;
    
}

.Description{
    color:#707d8f;
    font-size: 15px;
    margin-top:20px;
}

.Button1{
    background-color:#F52E22;
   
    box-sizing: border-box;
    padding: 16px 24px;
    color: white;
    width: 20%;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
    border-radius:2px;
    
    font-family: 'Titillium Web', sans-serif;

}

.Interview{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    color:white
}

.Project_Content1{
    Background-color: #1f2532;
    padding: 10px 190px;
    display: flex;
    
}

.Description1_0{
    color:#707d8f;
    font-size: 15px;
}

.Description1{
    color:white;
    font-size: bold;
    font-size: 15px;
    margin-top:20px;
}

.Project_Des1{
    color: white;
    width: 50%;
    margin-top: 45px;
}

/*interview part*/

.Background2_1{
    background-image: url(./white_background.png);
    width: 100%;
    position: relative 
}

.img_width2{
    width:50%;
}

.img2{
    width: 100%; 
    height: 100vh; 
    object-fit: coverstyle = "color: white";
}

.background_maincontent2{
    position: absolute;
    top: 20%;
    left: 45%;
    
    width: 45%;
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
}

.adjust_maincontent2{
    padding: 50px;
}

.main_text2_line1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #c49b63;
    margin-bottom: -30px;
}

.main_text2_line2{
    font-size:40px; 
    font-weight:bold;
}

.main_text2_line3{
    font-size: 15px;
    margin-top: 16px;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
}

.Background3{
    background-image: url(./white_background.png);
    width: 100%;
    position: relative;
    height:80vh;
}

.img_width3{
    width:50%; 
    float: right;
}

.img3{
    width: 100%; 
    height: 80vh; 
    object-fit: cover;
}

.background_maincontent3{
    position: absolute;
    top: 10%;
    right: 40%;
  
    width: 45%;
   
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.adjust_maincontent3{
    padding: 50px;
}

.main_text3_line1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #c49b63;
    margin-bottom: -30px;
}

.main_text3_line2{
    font-size:40px; 
    font-weight:bold;
}

.main_text3_line3{
    font-size: 15px;
    margin-top: 16px;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
}

.bg21_dark{
    background-image: url(./dark_bg.png);
    width: 100%;
    position: relative;
    height: 80vh;
}

.bg3_dark{
    background-image: url(./dark_bg.png);
    width: 100%;
    position: relative;
    height:80vh;
}